
/* ===========================
	BANNER
=========================== */

.banner {
	min-height: 100vh;
	position: relative;
	background: var(--clr-primary-900);
	overflow: hidden;

}
.banner::before,
.banner::after{
	content: '';
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	pointer-events: none;
}
.banner::before{
	left: 0;
	background: radial-gradient(circle at left center, rgba(185, 251, 106, 0.6), transparent 60%);
}
.banner::after{
	right: 0;
	background: radial-gradient(circle at right center, rgba(185, 251, 106, 0.6), transparent 60%);

}
.banner-grid {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;

  background-image:
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 40px
    );
}
.banner > *:not(.banner-grid) {
  position: relative;
  z-index: 3;
}

.banner .container {
	display: flex;
	align-items: center;
}
.banner-content {
	/* position: relative; */
	max-width: 700px;
	width: 100%;
	color: var(--clr-neutral-100);
	z-index: 5;
}
h1 {
	font-size: var(--fs-900);
	font-weight: var(--fw-bold);
	letter-spacing: var(--ls-500);
	margin-bottom: 50px;
}
.banner-content p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	max-width: 550px;
}
.banner-btn {
	display: flex;
	align-items: center;
	margin-top: 80px;
}
.banner-btn .btn-primary {
	margin-right: 50px;
}


.banner-glow,
.banner-grid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.banner-glow {
	z-index: 3;
	opacity: 0.8;
}
.banner-grid {
	z-index: 4;
}
.banner-image{
	height: 90%;
	position: absolute;
	margin-left: auto;
	bottom: 0;
	right: 0;
}
@media screen and (max-width: 767px){
	.banner-image{
		display: none;
	}
}