.cnt-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 16px;
}
.cnt-img {
  margin-bottom: 21px;
  pointer-events: none;
}
.cnt-heading {
  font-family: var(--ff-stolzl);
  font-size: var(--fs-350);
  font-weight: 400;
  color: var(--clr-primary-100);
  margin-bottom: 15px;
}
.cnt-abt {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-250);
  font-weight: 400;
  color: var(--clr-primary-100);
  max-width: 239px;
  width: 100%;
  margin: 0 auto;
}
.contact-layout {
  margin-top: 120px;
}
.contact-map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  min-height: 496px;
  border: 0;
}
.contact-title {
  font-family: var(--ff-stolzl);
  font-size: var(--fs-500);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-300);
  margin-bottom: 15px;
  color: var(--clr-primary-100);
}
.contact-subtitle {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  color: var(--clr-primary-100);
}
.cnt-form-body {
  margin-top: var(--fs-450);
}

.cnt-form-grp {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.cnt-form-label {
  font-family: var(--ff-dm-sans);
  font-weight: 300;
  font-size: var(--fs-350);
  color: var(--clr-primary-100);
  margin-bottom: 16px;
}

.cnt-form-input,
.cnt-form-textarea {
  width: 100%;
  height: 56px;
  padding: 15px;
  color: var(--clr-primary-100);
  font-size: var(--fs-300);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 10px 30px rgba(0, 0, 0, 0.15);

  outline: none;
}
.cnt-form-textarea{
    height: 133px;
}
.cnt-form-input::placeholder,
.cnt-form-textarea::placeholder {
  color: rgb(159, 154, 154);
  font-size: var(--fs-300);
  font-family: var(--ff-dm-sans);
  font-weight: 400;
}
.cnt-form-input:focus,
.cnt-form-textarea:focus {
  border-color: rgba(185, 251, 106, 0.8);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
    0 0 0 1px rgba(185, 251, 106, 0.6), 0 0 30px rgba(185, 251, 106, 0.35);
}
.cnt-form-body .section-btn{
    justify-content: flex-start;
}