@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
	font-family: 'stolzl';
	src: url('../assets/fonts/stolzl/stolzl_regular.otf');
}

/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-primary-300: #6dddff; /* sky blue */
	--clr-primary-400: #4cc7ff;
	--clr-primary-500: #002fff; /* deep royal */
	--clr-neutral-100: #ffffff;
	--clr-neutral-900: #000000;

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE SCALE */

	--ls-500: -1.5px	/* h1 */
	--ls-400: -1.4px	/* h2 */
	--one-col: calc(100% / 12);/* 8.333333% */

}

/* ===========================
	GLOBAL BASE
=========================== */


body {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-900);
}


