@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
	font-family: 'stolzl';
	src: url('../assets/fonts/stolzl/stolzl_regular.otf');
}

/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-primary-300: #6dddff; /* sky blue */
	--clr-primary-400: #4cc7ff;
	--clr-primary-500: #002fff; /* deep royal */
	--clr-neutral-100: #ffffff;
	--clr-neutral-900: #000000;

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE SCALE */




	--ls-500: -1.5px	/* h1 */
	--ls-400: -1.4px	/* h2 */
	--one-col: calc(100% / 12);/* 8.333333% */


}

/* ===========================
	GLOBAL BASE
=========================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-900);
}
section {
	padding: 100px 0;
}
ul,
ol,
li {
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}
button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
}
img {
	display: block;
	width: 100%;
	height: 100%;
}
figure {
	overflow: hidden;
	width: fit-content;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.container {
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	padding: 10px 18px;
	border-radius: 50px;
	border: 1px solid transparent;
	font-size: var(--fs-400);
	font-weight: var(--fw-medium);
	transition: all 0.3s ease-in;
}
.btn-primary {
	background: var(--clr-primary-300);
	color: var(--clr-neutral-900);
}
.btn-primary:hover {
	background: var(--clr-primary-500);
	color: var(--clr-neutral-100);
}


.btn-secondary {
	color: var(--clr-neutral-100);
	border: 1px solid var(--clr-neutral-100);
}
.btn-secondary:hover {
	background: var(--clr-neutral-100);
	color: var(--clr-neutral-900);
}

.btn-tertiary {
	color: var(--clr-neutral-900);
	border: 1px solid var(--clr-primary-300);
}
.btn-tertiary:hover {
	background: var(--clr-neutral-300);
	color: var(--clr-neutral-900);
}