section {
  position: relative;
}
section::before,
section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  z-index: -11;
}
section::before {
  left: 0;
  background: radial-gradient(
    circle at left center,
    rgba(185, 251, 106, 0.5),
    transparent 85%
  );
}
section::after {
  right: 0;
  background: radial-gradient(
    circle at right center,
    rgba(185, 251, 106, 0.5),
    transparent 85%
  );
}
main{
  position: relative;
}
.grid {
  position: absolute;
  inset: 0;
  z-index: -2;
  pointer-events: none;

  background-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 45px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 23px
    );
}
.banner > *:not(.grid) {
  position: relative;
  z-index: 12;
}
.radial-blur {
  position: absolute;
  top: 10%;
  left: 50%;
  /* width: 600px;
  height: 180px; */
  width: clamp(360px, 60vw, 720px);
  height: clamp(120px, 20vw, 220px);

  transform: translate(-50%, -50%);

  background: radial-gradient(
    ellipse at center,
    rgba(185, 251, 106, 0.9) 0%,
    rgba(185, 251, 106, 0.55) 25%,
    rgba(185, 251, 106, 0.25) 45%,
    rgba(185, 251, 106, 0.1) 60%,
    rgba(185, 251, 106, 0.05) 70%,
    rgba(185, 251, 106, 0.02) 80%,
    rgba(185, 251, 106, 0) 100%
  );

  filter: blur(120px); /* CSS equivalent of Figma blur 500 */
  pointer-events: none;
  z-index: 0;
}
@media (max-width: 768px) {
  .grid {
    background-size: 60px 60px;
  }
}
/* Mobile Responsiveness */
@media (max-width: 767px) {
  section::before,
  section::after {
    width: 30%;
  }
  section::before {
    background: radial-gradient(
      circle at left center,
      rgba(185, 251, 106, 0.2),
      transparent 60%
    );
  }
  section::after {
    background: radial-gradient(
      circle at right center,
      rgba(185, 251, 106, 0.2),
      transparent 80%
    );
  }
}
