/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
  .expenses-table table {
    min-width: 900px; /* prevents column squish */
  }
}

@media screen and (max-width: 991px) {
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
  /* variable expenses */
  .table-header > .btn {
    margin-top: 20px;
  }

  .expenses-cta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .expenses-cta > .btn-secondary {
    margin-right: 20px;
  }

  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .buddget-planner-wrapper > div {
    /* align-items: center; */
    height: 842px;
    width: fit-content;
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 34px;
  }
  .buddget-planner-right figure img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .buddget-planner-left {
    display: none;
  }
  .buddget-planner-right {
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 35px;
  }
  /* summary cards */
  .row .summary-card {
    height: auto;
    margin-bottom: 20px;
  }
  .about-us .section-content {
    max-width: fit-content;
  }
  .feature-step {
    gap: 16px;
  }

  /* .feature-step figure {
    width: 90px;
    height: 90px;
    border-radius: 28px;
  }

  .feature-step::before {
    left: 45px;
    top: 90px;
  }

  .feature-step::after {
    left: 37px;
  } */
}

@media screen and (max-width: 576px) {
  .reassurance-item {
    flex-direction: column;
  }
  .reassurance-item span {
    margin: 0 0 16px 0;
  }
  .reassurance-item img {
    max-width: 30px;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom-left {
    margin-bottom: 10px;
  }
  .buddget-planner-wrapper > div {
    align-items: flex-start;
  }
}
@media screen and (max-width: 425px) {
  .buddget-planner-right figure {
    padding: 20px 24px;
    border-radius: 25px;
  }
  .buddget-planner-right figure img {
    width: 30px;
    height: 30px;
  }
}
