
/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
}
@media screen and (max-width: 991px) {
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
}
