/* ===========================
	RESPONSIVE
=========================== */

@media screen and (max-width: 1110px) {
	.navbar::after {
		width: 20%;
		top: 0px;
		left: 90%;
	}
	.navbar::before {
		width: 20%;
		top: 0;
		left: 90%;
	}

	.nav-toggle {
		display: block;
	}
	.nav-collapsed {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		flex-direction: column-reverse;
		z-index: 99;
		background: var(--clr-neutral-100);
	}
	.nav-list {
		margin-right: 0;
		margin-bottom: 16px;
	}
	.nav-actions {
		margin-left: auto;
		padding: 8px;
	}
	.nav-actions li:last-child {
		margin-right: 0;
	}
	.nav-items {
		flex-direction: column;
		border-radius: 0;
		border: none;
	}
	.nav-actions-svg {
		width: 20px;
	}
	.nav-collapsed.show {
		display: flex;
	}
	.banner {
		background-position: center top;
		backdrop-filter: blur(20px);
		color: var(--clr-neutral-900);
	}
}
