
/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
  .expenses-table table {
    min-width: 900px; /* prevents column squish */
  }
}

@media screen and (max-width: 992px) {
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
   /* variable expenses */
  .table-header > .btn{
    margin-top: 20px;
  }

  
  .expenses-cta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .expenses-cta> .btn-secondary{
    margin-right: 20px;
  }

  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 576px) {
  .reassurance-item {
    flex-direction: column;
  }
  .reassurance-item span {
    margin: 0 0 16px 0;
  }
  .reassurance-item img {
    max-width: 30px;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .buddget-planner-left{
    display: none;
  }
  .buddget-planner-right{
    margin: 0 auto;
  }
  .buddget-planner-right figure{
    padding: 30px;
    border-radius: 35px;
  }
  /* summary cards */
  .row .summary-card{
    height: auto;
    margin-bottom: 20px;
  }
}