/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
  .expenses-table table {
    min-width: 900px; /* prevents column squish */
  }
}
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .features-left {
    grid-template-columns: 1fr 1fr;
  }

  .features-right {
    grid-template-rows: auto auto;
  }
  .goals-layout {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 991px) {
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
  /* variable expenses */
  .table-header > .btn {
    margin-top: 20px;
  }

  .expenses-cta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .expenses-cta > .btn-secondary {
    margin-right: 20px;
  }

  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .buddget-planner-wrapper > div {
    /* align-items: center; */
    height: 842px;
    width: fit-content;
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 34px;
  }
  .buddget-planner-right figure img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    background-size: 60px 60px;
  }
  section::before,
  section::after {
    width: 30%;
  }
  section::before {
    background: radial-gradient(
      circle at left center,
      rgba(185, 251, 106, 0.2),
      transparent 60%
    );
  }
  section::after {
    background: radial-gradient(
      circle at right center,
      rgba(185, 251, 106, 0.2),
      transparent 80%
    );
  }
  .buddget-planner-left {
    display: none;
  }
  .buddget-planner-right {
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 35px;
  }
  /* summary cards */
  .row .summary-card {
    height: auto;
    margin-bottom: 20px;
  }
  .about-us .section-content {
    max-width: fit-content;
  }
  .feature-step {
    gap: 16px;
  }
  .features {
    padding: 80px 0;
  }

  .features-left {
    grid-template-columns: 1fr;
  }

  .left-main {
    order: 1;
  }

  .left-stack {
    order: 0;
  }

  .features-right {
    grid-template-columns: 1fr;
  }

  .savings-grid {
    grid-template-columns: 1fr;
  }
  .goal-card {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .goal-ring {
    align-self: center;
    margin-top: 20px;
  }
  .goals-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 576px) {
  .reassurance-item {
    flex-direction: column;
  }
  .reassurance-item span {
    margin: 0 0 16px 0;
  }
  .reassurance-item img {
    max-width: 30px;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom-left {
    margin-bottom: 10px;
  }
  .buddget-planner-wrapper > div {
    align-items: flex-start;
  }
  .clients {
    padding: 8px 0;
  }
  .clients-img img {
    height: 20px;
  }
  #client-top {
    transform: rotate(10deg);
  }

  #client-bottom {
    transform: rotate(-10deg);
  }
  .client-band-wrapper{
    bottom: -50px;
  }
}
@media screen and (max-width: 425px) {
  .buddget-planner-right figure {
    padding: 20px 24px;
    border-radius: 25px;
  }
  .buddget-planner-right figure img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 360px) {
  :root {
    --fs-900: 30px;
    --fs-500: 24px;
  }
  .btn {
    padding: 9px 15px;
  }
  .features {
    padding: 48px 0;
  }

  .features-grid {
    gap: 20px;
  }

  .card {
    padding: 14px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
