
/* ===========================
	NAVBAR
=========================== */

.navbar {
	padding: 20px 0;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.nav-collapsed {
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.nav-items {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 15px 28px;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-actions {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.nav-logo {
	max-width: 70px;
	width: 100%;
}
.nav-list {
	margin-right: 32px;
	flex-grow: 1;
}
.nav-list:last-child {
	margin-right: 0;
}
.nav-links {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-400);
	font-weight: var(--fw-medium);
	color: var(--clr-neutral-900);
	transition: all 0.3s ease-in-out;
	padding: 10px 12px;
	border-radius: 50px;
}
.nav-links:hover {
	background-color: var(--clr-primary-500);
	color: var(--clr-neutral-100);
}

.nav-actions li {
	margin-right: 20px;
}

.nav-actions-svg path {
	transition: fill 0.3s ease-in-out;
}
.nav-actions-svg:hover path {
	fill: var(--clr-primary-500);
}


.nav-toggle {
	display: none;
	cursor: pointer;
}
.nav-toggle svg {
	width: 40px;
	height: 40px;
	fill: var(--clr-primary-500);
}
.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-right .btn {
	margin-right: 8px;
}

.toggle-icon {
	width: 100%;
	height: 40px;
}
.line {
	fill: var(--clr-primary-500);
	transition: 0.35s ease-in-out;
	transform-origin: center;
}
.nav-toggle.active .line1 {
	transform: translateY(6px) rotate(45deg);
}
.nav-toggle.active .line2 {
	transform: translateX(-100%);
}
.nav-toggle.active .line3 {
	transform: translateY(-22px) rotate(-45deg);
}
