#client-bottom {
  transform: rotate(0deg);
}
.client-band-wrapper{
    bottom: 0;
}
/* ==== Section Benefits Start ====== */

.benefits .col{
    display: flex;
}
.benefits-card{
    padding: 64px 32px;
    font-size: var(--fs-350);
    font-weight: var(--fw-regular);
    text-align: center;
}
.benefits-card-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-stolzl);
    margin-bottom: 30px;
}
.benefits-card-heading figure{
    width: 35px;
    padding: 3px;
    margin-right: 16px;
}
.benefits-card-des{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-fade-600);
}

/* ====== Get Started Section Start ====== */
.get-started{
    position: relative;
}
.get-started figure{
    position: absolute;
}
.get-started-left{
    top: 0;
}
.get-started-right{
    top: 0;
    right: 0;
}
.get-started-dec{
    color: var(--clr-fade-600);
    text-align: center;
}
/* ====== Get Started Section End ====== */

/* ==== Section Benefits End ====== */
@media (max-width: 1024px) {
    .benefits-card{
    padding: 48px 24px;
}
    .benefits-card-heading{
        flex-direction: column;
    }
    .benefits-card-heading figure{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .benefits-card-des{
        max-width: 100%;
    }
    .benefits-cards .col:nth-child(1) .benefits-card,
    .benefits-cards .col:nth-child(2) .benefits-card{
        margin-bottom: 24px;
    }
}