@font-face {
  font-family: "stolzl-medium";
  src: url("../assets/fonts/stolzl/stolzl_regular.otf");
}
.b{
  border: 1px solid white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: black;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
  background: radial-gradient(
    circle,
    rgba(185, 251, 106, 0.45) 0%,
    rgba(185, 251, 106, 0.25) 30%,
    rgba(185, 251, 106, 0.12) 50%,
    rgba(185, 251, 106, 0.05) 65%,
    transparent 75%
  );
  filter: blur(120px);
  z-index: -1;
}
body::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: 10%;
  bottom: 10%;
  background: radial-gradient(
    circle,
    rgba(185, 251, 106, 0.18),
    transparent 70%
  );
  filter: blur(150px);
  z-index: -1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
label{
   user-select: none;
  -webkit-user-select: none; /* Safari / Chrome */
  -ms-user-select: none;     /* old Edge */
  cursor: pointer;
}
:root {
  --text-color:rgba(255, 255, 255, 0.6);
  --login-btn: #b9fb6a;
  --font-dm: "DM Sans", sans-serif;
}
ul {
  list-style-type: none;
}
.login-sec {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-5 {
  width: calc(8.33% * 5);
  padding: 0 15px;
}
.col-6 {
  width: calc(8.33% * 6);
  padding: 0 15px;
}
.col-7 {
  width: calc(8.33% * 7);
  padding: 0 15px;
}

.login-sec .row {
  align-items: center;
  /* margin: 0 calc(-71px / 2); */
  margin: 0 auto;
}

/* .login-sec .col-5,
.login-sec .col-7 {
  padding: 0 calc(71px / 2);
} */
.welcome-sec {
  max-width: 463px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-dm);
  background: transparent;
}

.title {
  font-family: "stolzl-medium";
  font-size: 45px;
  font-weight: 600;
  color:white;
  margin-bottom: 25px;
  text-align: center;
}
p {
  font-family: var(--font-dm);
  font-size: 16px;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 32px;
  text-align: center;
}
.login-btn {
  width: 100%;
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  background: var(--login-btn);
  border-radius: 50px;
  border: 0px;
  font-family: var(--font-dm);
  font-size: 18px;
  cursor: pointer;
}
.login-btn:hover {
  opacity: 0.8;
}
.login-form {
  font-family: var(--font-dm);
  color: var(--text-color);
}

.login-form label {
  font-size: 14px;
  margin-bottom: 16px;
  display: inline-block;
}

.login-form input[type="email"], .login-form input[type="password"] 
 {
  width: 100%;
  padding: 18px 16px;
  color: white;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  --webkit-backdrop-filter: blur(12px);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 8px 20px rgba(0, 0, 0, 0.35);

  outline: none;
  margin-bottom: 20px;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}
.login-form input:focus {
  border-color: rgba(185, 251, 106, 0.9);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    0 0 0 1px rgba(185, 251, 106, 0.6), 0 0 24px rgba(185, 251, 106, 0.35);
}

.signup-text {
  text-align: center;
  margin-top: 40px;
}
.signup-text > .signup-link {
  font-weight: 800;
}
.image-card {
  max-width: 733px;
  padding: 18px 0;
}
.image-card > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.signup-link{
  text-decoration: underline;
}
.signup-link:hover{
  color: white;
}

@media screen and (max-width: 768px) {
  .col-5 {
    width: 100%;
  }
  .col-7 {
    display: none;
  }
}
/* 
blur background

.login-row {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.06),
    rgba(255,255,255,0.02)
  );
  backdrop-filter: blur(22px);
  border-radius: 28px;
  border: 1px solid rgba(255,255,255,0.12);
  padding: 60px;
} */
