.banner-sec {
  min-height: 700px !important;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-sec .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.sub-banner {
  color: var(--clr-primary-200);
}
.banner-heading {
  max-width: 647px;
  font-size: var(--fs-900);
  font-weight: 400;
  color: var(--clr-accent-100);
  margin-bottom: 65px;
  font-family: var(--ff-stolzl);
}
.home,
.contact {
  color: var(--clr-accent-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  font-family: var(--ff-dm-sans);
}

/* Media-Query */

@media (max-width: 991px) {
  .banner-sec .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .banner-cntn {
    position: relative;
    top: 28px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .banner-sec {
    padding: 100px 0;
  }

  .banner-heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
  .banner-heading {
    font-size: 22px;
  }

  .banner-para {
    font-size: 14px;
  }
}
