

.banner-sec {
  min-height: 700px !important;
  position: relative;
  overflow: hidden;
  padding: 150px 0;
}
.sub-banner{
  color: var(--clr-primary-200);
}
.banner-heading {
  max-width: 647px;
  font-size: 50px;
  font-weight: 400;
  color: var(--clr-accent-100);
  margin-bottom: 65px;
  font-family: var(--ff-stolzl);
}
.home,
.contact{
  color: var(--clr-accent-100);
  font-size: 18px;
  font-weight: var(--fw-regular);
  font-family: var(--ff-dm-sans);
}
.banner-cntn {
  position: absolute;
  top: 273px;
}
.banner-img {
  width: 520.98px;
}
.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Media-Query */
@media screen and (max-width: 1200px){
  .banner-img {
    width: 460px;
  }
}
@media (max-width: 992px) {
  .banner-sec .col-7,
  .banner-sec .col-5 {
    width: 100%;
    text-align: center !important;
    margin: 0 auto !important;
  }

  .banner-cntn {
    position: relative;
    top: 28px;
    margin-bottom: 40px;
  }

  .banner-heading {
    font-size: 38px;
  }

  .banner-img {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .banner-sec {
    padding: 100px 0;
  }

  .banner-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .banner-para {
    font-size: 16px;
  }

  .banner-img {
    width: 320px;
  }
}

@media (max-width: 576px) {
  .banner-heading {
    font-size: 26px;
  }

  .banner-img {
    width: 260px;
  }
}

@media (max-width: 320px) {
  .banner-heading {
    font-size: 22px;
  }

  .banner-para {
    font-size: 14px;
  }

  .banner-img {
    width: 220px;
  }
}
