.b {
	border: 1px solid black;
}
.c {
	background-color: red;
}

/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-neutral-100: #ffffff;
	--clr-neutral-150: #ececec;
	--clr-neutral-200: #f0eded;
	--clr-neutral-250: #f4fcfe;
	--clr-neutral-280: #fff7df;
	--clr-primary-300: #6dddff;
	--clr-primary-350: #bcf4ff;
	--clr-primary-400: #4cc7ff;
	--clr-primary-450: #3cc3df;
	--clr-primary-460: #3cc3df;
	--clr-primary-500: #002fff;
	--clr-primary-550: #0473ff;
	--clr-primary-600: #2da94f;
	--clr-neutral-900: #000000;

	--clr-green-300: #b7ffcb;
	--clr-green-900: #005016;

	--clr-red-500: #ff0303;
	--clr-red-300: #ffb4aa;
	--clr-red-200: #ffbcbd;
	--clr-blue-300: #708afe;

	--clr-yellow-300: #fade8b; /* pastel yellow */

	--clr-fade-200: rgba(0, 0, 0, 0.2);
	--clr-fade-250: rgba(0, 0, 0, 0.25);
	--clr-fade-600: rgba(0, 0, 0, 0.6);
	--clr-fade-700: rgba(0, 0, 0, 0.7);
	--clr-fade-800: rgba(0, 0, 0, 0.8);
	--clr-fade-blue-740: rgba(0, 0, 255, 0.74);

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE (px) */
	--fs-200: 12px;
	--fs-300: 14.4px;
	--fs-400: 16px;
	--fs-500: 18px;
	--fs-550: 20px; /* h3 */
	--fs-600: 24px;
	--fs-650: 30px;
	--fs-700: 32px;
	--fs-800: 45px; /* h2 */
	--fs-900: 56px; /* h1 */

	/* LETTER SPACING */
	--ls-500: -1.5px; /* h1 */
	--ls-400: -1.4px; /* h2 */

	/* LINE HEIGHT */
	--lh-150: 1.5;

	/* GRID SYSTEM */
	--one-col: calc(100% / 12);
}

/* === GRID CLASSES === */
.col-1 {
	width: calc(var(--one-col) * 1);
}
.col-2 {
	width: calc(var(--one-col) * 2);
}
.col-3 {
	width: calc(var(--one-col) * 3);
}
.col-4 {
	width: calc(var(--one-col) * 4);
}
.col-5 {
	width: calc(var(--one-col) * 5);
}
.col-6 {
	width: calc(var(--one-col) * 6);
}
.col-7 {
	width: calc(var(--one-col) * 7);
}
.col-8 {
	width: calc(var(--one-col) * 8);
}
.col-9 {
	width: calc(var(--one-col) * 9);
}
.col-10 {
	width: calc(var(--one-col) * 10);
}
.col-11 {
	width: calc(var(--one-col) * 11);
}
.col-12 {
	width: calc(var(--one-col) * 12);
}

/* ===========================
	CLIENT SWIPER
=========================== */

section.clients {
	padding: 24px 0;
}
.clients-swiper {
	width: 100%;
	overflow: hidden;
}

.clients-wrapper {
	width: 100%;
	display: flex;
	transition-timing-function: linear !important;
}

.client-slide {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.clients-img img {
	height: 40px;
	width: auto;
}

/* ==== SECTION CONTENT ====== */

.sec-sub-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	margin: 0 auto;
	width: max-content;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid var(--clr-fade-200);
}

.sec-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-800);
	letter-spacing: var(--ls-400);
	text-align: center;
	margin: 48px 0;
}

.sec-heading span {
	color: var(--clr-primary-500);
}

.sec-description {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

/* ===============
	Features
 =============== */

h3 {
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-size: var(--fs-550);
	font-weight: var(--fw-medium);
}
.feature-description {
	font-size: var(--fs-500);
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-weight: var(--fw-regular);
	opacity: 0.6;
	text-align: center;
}
.feature-wrapper-row {
	margin-top: 70px;
	justify-content: center;
	display: flex;
	align-items: stretch;
}
.left-row .top-left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.left-row .top {
	/* background-color: pink; */
	display: flex;
	justify-content: space-between;
}
.left-row .top,
.left-row .mid,
.left-row .bottom,
.left-row .mid-main-wrapper,
.savings-wrapper,
.right-row-top,
.right-row-bottom {
	padding: 18px;
	border-radius: 22px;
	border: 1px solid var(--clr-fade-200);
	margin: 12px;
}

.left-row .mid h3,
.left-row .bottom h3 {
	margin-top: 32px;
	text-align: center;
}
.left-row .top-left > div {
	flex-grow: 1;
	width: 100%;
}
.left-row .bottom figure {
	background-color: var(--clr-primary-500);
	padding: 19px;
	border-radius: 50%;
	width: max-content;
	margin: 0 auto;
}
.left-row .bottom .feature-description {
	margin-top: 16px;
}
.inner-wrapper-top figure {
	width: max-content;
	border: 1px solid var(--clr-fade-200);
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}

.inner-wrapper-top h3 {
	text-align: center;
	position: relative;
	width: max-content;
	margin: 16px auto;
	padding-left: 20px;
}
.inner-wrapper-top h3::before {
	content: url('../assets/features/money-symbol.png');
	position: absolute;
	left: 0;
	padding-top: 4px;
}
.inner-wrapper-top h3::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: -35px;
	width: 136px;
	height: 1px;
	background: var(--clr-fade-200);
}

.inner-wrapper-top .feature-description span {
	display: block;
}
.inner-wrapper-top .feature-description {
	line-height: 1.8;
}
.inner-wrapper-mid {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.inner-wrapper-mid li {
	display: block;
	font-family: var(--ff-dm-sans);
}
.inner-wrapper-mid li:first-child {
	margin-bottom: 8px;
}
.inner-wrapper-mid-right li {
	text-align: right;
}
.inner-wrapper-mid-left li {
	font-size: var(--fs-500);
}
.inner-wrapper-mid-right .feature-description {
	font-size: var(--fs-400);
}

.inner-wrapper-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	padding: 16px 24px;
	margin-top: 32px;
}

.inner-wrapper-bottom-left figure {
	width: max-content;
	background-color: var(--clr-primary-600);
	border-radius: 50%;
	padding: 4px;
}
.inner-wrapper-bottom-mid {
	padding: 0 16px;
}
.inner-wrapper-bottom-mid span {
	display: block;
	text-align: left;
	padding: 4px 0;
}
.inner-wrapper-bottom-right figure {
	width: max-content;
}
.inner-wrapper {
	padding: 15px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 20px;
}
.mid-bottom-wrapper {
	text-align: center;
	padding: 30px 12px;
}
.mid-bottom-wrapper .feature-description {
	margin-top: 16px;
}

/* ==== savings bottom start ==== */

.savings-wrapper-content {
	padding: 16px;
}
.savings-wrapper-content > span {
	display: block;
	margin-top: 16px;
	font-size: var(--fs-650);
	display: flex;
	align-items: center;
	width: max-content;
}
.savings-wrapper-content > span figure {
	width: max-content;
	margin-right: 12px;
}
.savings-wrapper-inner {
	display: flex;
	flex-wrap: wrap;
}
.savings-wrapper-inner > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	font-family: var(--ff-dm-sans);
	flex: 1 1 267px;
	max-width: 320px;
	margin: 8px;
}
.savings-wrapper-inner h4 {
	color: var(--clr-fade-600);
	font-weight: var(--fw-regular);
	position: relative;
	padding-left: 25px;
}
.savings-wrapper-inner div h4::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.savings-wrapper-inner .savings h4::before {
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending h4::before {
	background-color: var(--clr-red-300);
}
.savings-wrapper-inner .investment h4::before {
	background-color: var(--clr-yellow-300);
}
.savings-wrapper-inner .bills h4::before {
	background-color: var(--clr-blue-300);
}

.savings-wrapper-inner > div span:nth-child(3) {
	padding: 5px;
	border-radius: 20px;
}
.savings-wrapper-inner .savings span:nth-child(3),
.savings-wrapper-inner .bills span:nth-child(3) {
	color: var(--clr-green-900);
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending span:nth-child(3),
.savings-wrapper-inner .investment span:nth-child(3) {
	color: var(--clr-red-500);
	background-color: var(--clr-red-200);
}

/* ==== savings bottom end==== */

/* ==== right chart top start=== */
.right-row {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.right-row-top-content {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}
.right-row-top-content li {
	color: var(--clr-fade-700);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	font-family: var(--ff-dm-sans);
	position: relative;
	padding-left: 20px;
	display: block;
	width: max-content;
	margin: 0 6px;
}
.right-row-top-content li::before {
	position: absolute;
	left: 0;
	top: calc(50% - 8px);
}
.right-row-top-content li:nth-child(1)::before {
	content: url('../assets/features/investement-before.svg');
}
.right-row-top-content li:nth-child(2)::before {
	content: url('../assets/features/expences-before.svg');
}
.right-row-top-content li:nth-child(3)::before {
	content: url('../assets/features/savings-before.svg');
}
/* ==== right chart top end=== */

/* ==== right chart bottom start=== */

.right-row-bottom {
	text-align: center;
	padding: 29px;
}
.right-row-bottom figure {
	width: fit-content;
	margin: 0 auto;
	position: relative;
	box-shadow: 10px 9px 250px 0 rgba(4, 115, 255, 0.25);
}
.right-row-bottom-content h3 {
	margin-top: 16px;
}
.right-row-bottom-content p {
	margin-top: 16px;
}
/* ==== right chart bottom end=== */

/* ==== How-it-works Section === */

.how-it-works .section-content {
	max-width: 616px;
	margin: 0 auto;
	width: 100%;
}
.daily-use-wrapper h3 {
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-900);
	letter-spacing: var(--ls-400);
	text-align: center;
}
.daily-use-wrapper p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-light);
	line-height: var(--lh-150);
	text-align: center;
	color: var(--clr-neutral-900);
}
.daily-use-wrapper .row {
	justify-content: center;
	align-items: stretch;
}
.daily-use-wrapper .col-4 {
	display: flex;
	/* flex: 1; */
}
.daily-use-wrapper .left,
.daily-use-wrapper .mid,
.daily-use-wrapper .right {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
	background-color: var(--clr-neutral-150);
	margin: 16px;
	border-radius: 20px;
}

.daily-use-wrapper .row .col-4:nth-child(2n -1) h3 {
	margin-top: 40px;
}
.daily-use-wrapper .row .col-4:nth-child(2n-1) p {
	margin-top: 32px;
}
.signup-wrapper,
.buddget-wrapper,
.mid-wrapper {
	padding: 20px;
	border-radius: 20px;
	background-color: var(--clr-neutral-100);
}
.input-box {
	display: flex;
	align-items: center;
	background: var(--clr-neutral-200);
	padding: 12px;
	border-radius: 20px;
	margin: 12px 0;
}
.input-box figure {
	margin-right: 8px;
}
.input-box input {
	font-family: var(--ff-dm-sans);
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-size: var(--fs-400);
}
.input-box input::placeholder {
	color: var(--clr-fade-600);
	font-family: var(--ff-dm-sans);
}
.daily-use-wrapper .right .input-box {
	padding: 24px 12px;
}
.signup-btn {
	width: 100%;
	padding: 10px;
	background: var(--clr-primary-300);
	color: var(--clr-neutral-900);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	border: none;
	outline: none;
	border-radius: 20px;
	margin-top: 18px;
	font-size: var(--fs-550);
	cursor: pointer;
}

/* == daily-use-row mid start ==*/

.mid-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.mid-wrapper-inner {
	max-width: 355px;
	width: 100%;
	margin: 0 auto;
}
.mid-wrapper-inner div:nth-child(n + 2) {
	margin: 0 auto;
}
.mid-wrapper .users {
	display: flex;
	justify-content: space-between;
}

.mid-wrapper .lines {
	width: 85%;
}
.mid-wrapper-inner .mid-logo {
	width: max-content;
}
.mid-wrapper h3 {
	margin-top: 24px;
}
.left-wrapper,
.right-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* == daily-use-row mid end ==*/

/* ===== Service Section === */

.section-content {
	max-width: 827px;
	margin: 0 auto;
}
.section-content p {
	max-width: 80%;
	margin: 0 auto;
}

.service-card-wrapper {
	margin-top: 80px;
}
.service-card-wrapper .row {
	align-items: stretch;
	justify-content: center;
}
.service-card-wrapper .row > div {
	display: flex;
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-neutral-250);
	margin: 16px 8px;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
	box-shadow: 0 4px 4px 0 var(--clr-fade-250);
}
.service-card figure {
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
}
.service-content {
	margin-top: 32px;
	text-align: center;
}
.service-content h3 {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-550);
	font-weight: var(--fw-regular);
	letter-spacing: var(--ls-400);
	color: var(--clr-neutral-900);
}
.service-content p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	color: var(--clr-fade-600);
	line-height: 1.2;
	margin-top: 20px;
}

/* ====== why choose us section ===== */

.why-choose-us h3 {
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	letter-spacing: var(--ls-400);
	color: var(--clr-neutral-900);
}
.why-choose-us p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	color: var(--clr-fade-600);
}
.buddget-planner-left,
.buddget-planner-right {
	margin: 32px;
}
.buddget-planner-left figure {
	margin: 0 auto;
	width: fit-content;
	height: 100%;
}
.buddget-planner-right {
	min-height: calc(100% - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	gap: 150px;
}
.buddget-planner-right > div {
	padding-left: 170px;
	position: relative;
}
.buddget-planner-right > div::before {
	content: '';
	position: absolute;
	left: 0;
	top: calc(50% - 70px);
	margin-left: 16px;
	border-radius: 44px;
	padding: 70px;
}
.buddget-planner-right > .top::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/laptop-mobile.svg) center 50px
		no-repeat;
}
.buddget-planner-right > .mid::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/object-subtract.svg) center 50px
		no-repeat;
}
.buddget-planner-right > .bottom::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/money-bill-wheat.svg) center 50px
		no-repeat;
}
.section-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
}
/* ======== workflow start ======== */
.workflow {
	background: var(--clr-primary-550);
}

.workflow-content {
	max-width: 827px;
	margin: 0 auto;
	color: var(--clr-neutral-100);
}
.workflow-content .section-content {
	width: 100%;
}
.workflow-content .sec-sub-heading {
	background: transparent;
	border-color: var(--clr-neutral-100);
	margin-bottom: 0;
}
.workflow-content h2 {
	text-align: left;
	margin-top: 30px;
}
.workflow-content h3 {
	color: var(--clr-neutral-100);
}
.workflow-content p {
	max-width: 100%;
	margin-left: 0;
	font-size: var(550);
	font-family: var(--ff-dm-sans);
	line-height: var(--lh-150);
	margin-top: 30px;
}
.workflow-content div:nth-child(n + 2) {
	margin-top: 32px;
	max-width: 85%;
}
/* =========== workflow-cards start =========== */
.workflow-steps {
	/* height: 100%; */
	margin-top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.steps-cards {
	background: rgba(255, 255, 255, 0.12); /* 80% light translated */
	backdrop-filter: blur(18px) saturate(180%);
	-webkit-backdrop-filter: blur(18px) saturate(180%);

	/* Dispersion + Depth + Refraction simulation */
	box-shadow: 0 4px 42px var(--clr-fade-200), /* Depth */ inset 0 0 0.8px rgba(255, 255, 255, 0.5),
		/* Refraction */ inset 0 0 20px rgba(255, 255, 255, 0.15); /* Dispersion (inner lighting) */

	border-radius: 20px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 1% 16%;
	max-width: 827px;
	width: 100%;
	margin: 0 auto;
}
.step {
	margin-left: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-left: 16px;
	position: relative;
}

.step h3 {
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	color: var(--clr-neutral-100);
	font-weight: var(--fw-regular);
}
.step p {
	font-family: var(--ff-dm-sans);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-100);
	font-size: var(--fs-500);
	margin-top: 16px;
}
.steps-cards .step::before {
	content: '';
	position: absolute;
	top: -15%;
	right: 100%;
	width: 30px;
	height: 30px;
	padding: 28px;
	border-radius: 44px;
}
.steps-cards div:nth-child(1)::before {
	background: url(../assets/workflow/signup.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(2)::before {
	background: url(../assets/workflow/album.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(3)::before {
	background: url(../assets/workflow/analyze.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(4)::before {
	background: url(../assets/workflow/transact.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(5)::before {
	background: url(../assets/workflow/optimize.svg) var(--clr-primary-460) center no-repeat;
}
/* ======== workflow end ======== */

/* ======== about-us start ======== */
.about-us .section-content {
	max-width: 100%;
	margin-bottom: 24px;
}
.about-us .sec-sub-heading {
	margin: 0;
}
.live-chat {
	background: var(--clr-neutral-280);
	padding: 20px;
	border-radius: 30px;
	max-width: 424px;
	width: 100%;
}
.live-chat-content span {
	display: block;
	font-family: var(--ff-dm-sans);
	font-weight: var(--fw-regular);
}
.live-chat-content span:first-child {
	font-size: var(--fs-550);
	margin-bottom: 24px;
}
.live-chat-content span:last-child {
	font-size: var(--fs-500);
	margin-bottom: 24px;
	color: var(--clr-fade-800);
}
.live-chat-btn {
	display: flex;
	justify-content: space-between;
}


.about-feature-swiper {
	background: red;
	max-width: 305px;
	width: 100%;
}

.feature-swiper-content span {
	display: block;
	color: var(--clr-fade-blue-740);
	width: fit-content;
	margin: 0 auto;
}

.about-feature {
	width: 100%;
	overflow: hidden;
}

.about-feature .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #444;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======== about-us end ======== */

