.b {
	border: 1px solid black;
}
.c {
	background-color: red;
}

/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-neutral-100: #ffffff;
	--clr-neutral-150: #ECECEC;
	--clr-neutral-200: #F0EDED;
	--clr-primary-300: #6dddff;
	--clr-primary-400: #4cc7ff;
	--clr-primary-500: #002fff;
	--clr-primary-600: #2da94f;
	--clr-neutral-900: #000000;

	--clr-green-300: #b7ffcb; /* light green */
	--clr-green-900: #005016; /* deep green */

	--clr-red-500: #ff0303; /* strong red */
	--clr-red-300: #ffb4aa; /* soft faded red */
	--clr-red-200: #ffbcbd; /* soft pinkish red */
	--clr-blue-300: #708afe; /* soft blue */

	--clr-yellow-300: #fade8b; /* pastel yellow */

	--clr-fade-200: rgba(0, 0, 0, 0.2);
	--clr-fade-600: rgba(0, 0, 0, 0.6);
	--clr-fade-700: rgba(0, 0, 0, 0.7);

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE (px) */
	--fs-200: 12px;
	--fs-300: 14.4px;
	--fs-400: 16px;
	--fs-500: 18px;
	--fs-550: 20px; /* h3 */
	--fs-600: 24px;
	--fs-650: 30px;
	--fs-700: 32px;
	--fs-800: 45px; /* h2 */
	--fs-900: 56px; /* h1 */

	/* LETTER SPACING */
	--ls-500: -1.5px; /* h1 */
	--ls-400: -1.4px; /* h2 */

	/* LINE HEIGHT */
	--lh-150: 1.5;

	/* GRID SYSTEM */
	--one-col: calc(100% / 12);
}

/* === GRID CLASSES === */
.col-1 {
	width: calc(var(--one-col) * 1);
}
.col-2 {
	width: calc(var(--one-col) * 2);
}
.col-3 {
	width: calc(var(--one-col) * 3);
}
.col-4 {
	width: calc(var(--one-col) * 4);
}
.col-5 {
	width: calc(var(--one-col) * 5);
}
.col-6 {
	width: calc(var(--one-col) * 6);
}
.col-7 {
	width: calc(var(--one-col) * 7);
}
.col-8 {
	width: calc(var(--one-col) * 8);
}
.col-9 {
	width: calc(var(--one-col) * 9);
}
.col-10 {
	width: calc(var(--one-col) * 10);
}
.col-11 {
	width: calc(var(--one-col) * 11);
}
.col-12 {
	width: calc(var(--one-col) * 12);
}

/* ===========================
	CLIENT SWIPER
=========================== */

section.clients {
	padding: 24px 0;
}
.clients-swiper {
	width: 100%;
	overflow: hidden;
}

.clients-wrapper {
	width: 100%;
	display: flex;
	transition-timing-function: linear !important;
}

.client-slide {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.clients-img img {
	height: 40px;
	width: auto;
}

/* ==== SECTION CONTENT ====== */

.sec-sub-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	margin: 0 auto;
	width: max-content;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid var(--clr-fade-200);
	margin-bottom: 48px;
}

.sec-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-800);
	letter-spacing: var(--ls-400);
	text-align: center;
	margin-bottom: 48px;
}

.sec-heading span {
	color: var(--clr-primary-500);
}

.sec-description {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

/* ===============
	Features
 =============== */

h3 {
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-size: var(--fs-550);
	font-weight: var(--fw-medium);
}
.feature-description {
	font-size: var(--fs-500);
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-weight: var(--fw-regular);
	opacity: 0.6;
	text-align: center;
}
.feature-wrapper-row {
	margin-top: 70px;
	justify-content: center;
	display: flex;
	align-items: stretch;
}
.left-row .top-left{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	}

.left-row .top {
	/* background-color: pink; */
	display: flex;
	justify-content: space-between;
}
.left-row .top,
.left-row .mid,
.left-row .bottom,
.left-row .mid-main-wrapper,
.savings-wrapper,
.right-row-top,
.right-row-bottom {
	padding: 18px;
	border-radius: 22px;
	border: 1px solid var(--clr-fade-200);
	margin: 12px;
}

.left-row .mid h3,
.left-row .bottom h3 {
	margin-top: 32px;
	text-align: center;
}
.left-row .top-left > div{
	flex-grow: 1;
	width: 100%;
}
.left-row .bottom figure {
	background-color: var(--clr-primary-500);
	padding: 19px;
	border-radius: 50%;
	width: max-content;
	margin: 0 auto;
}
.left-row .bottom .feature-description {
	margin-top: 16px;
}
.inner-wrapper-top figure {
	width: max-content;
	border: 1px solid var(--clr-fade-200);
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}

.inner-wrapper-top h3 {
	text-align: center;
	position: relative;
	width: max-content;
	margin: 16px auto;
	padding-left: 20px;
}
.inner-wrapper-top h3::before {
	content: url('../assets/features/money-symbol.png');
	position: absolute;
	left: 0;
	padding-top: 4px;
}
.inner-wrapper-top h3::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: -35px;
	width: 136px;
	height: 1px;
	background: var(--clr-fade-200);
}

.inner-wrapper-top .feature-description span {
	display: block;
}
.inner-wrapper-top .feature-description {
	line-height: 1.8;
}
.inner-wrapper-mid {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.inner-wrapper-mid li {
	display: block;
	font-family: var(--ff-dm-sans);
}
.inner-wrapper-mid li:first-child {
	margin-bottom: 8px;
}
.inner-wrapper-mid-right li {
	text-align: right;
}
.inner-wrapper-mid-left li {
	font-size: var(--fs-500);
}
.inner-wrapper-mid-right .feature-description {
	font-size: var(--fs-400);
}

.inner-wrapper-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	padding: 16px 24px;
	margin-top: 32px;
}

.inner-wrapper-bottom-left figure {
	width: max-content;
	background-color: var(--clr-primary-600);
	border-radius: 50%;
	padding: 4px;
}
.inner-wrapper-bottom-mid {
	padding: 0 16px;
}
.inner-wrapper-bottom-mid span {
	display: block;
	text-align: left;
	padding: 4px 0;
}
.inner-wrapper-bottom-right figure {
	width: max-content;
}
.inner-wrapper {
	padding: 15px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 20px;
}
.mid-bottom-wrapper {
	text-align: center;
	padding: 30px 12px;
}
.mid-bottom-wrapper .feature-description {
	margin-top: 16px;
}

/* ==== savings bottom start ==== */

.savings-wrapper-content {
	padding: 16px;
}
.savings-wrapper-content > span {
	display: block;
	margin-top: 16px;
	font-size: var(--fs-650);
	display: flex;
	align-items: center;
	width: max-content;
}
.savings-wrapper-content > span figure {
	width: max-content;
	margin-right: 12px;
}
.savings-wrapper-inner {
	display: flex;
	flex-wrap: wrap;
}
.savings-wrapper-inner > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	font-family: var(--ff-dm-sans);
	flex: 1 1 267px;
	max-width: 320px;
	margin: 8px;
}
.savings-wrapper-inner h4 {
	color: var(--clr-fade-600);
	font-weight: var(--fw-regular);
	position: relative;
	padding-left: 25px;
}
.savings-wrapper-inner div h4::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.savings-wrapper-inner .savings h4::before {
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending h4::before {
	background-color: var(--clr-red-300);
}
.savings-wrapper-inner .investment h4::before {
	background-color: var(--clr-yellow-300);
}
.savings-wrapper-inner .bills h4::before {
	background-color: var(--clr-blue-300);
}

.savings-wrapper-inner > div span:nth-child(3) {
	padding: 5px;
	border-radius: 20px;
}
.savings-wrapper-inner .savings span:nth-child(3),
.savings-wrapper-inner .bills span:nth-child(3) {
	color: var(--clr-green-900);
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending span:nth-child(3),
.savings-wrapper-inner .investment span:nth-child(3) {
	color: var(--clr-red-500);
	background-color: var(--clr-red-200);
}

/* ==== savings bottom end==== */

/* ==== right chart top start=== */
.right-row{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.right-row-top-content {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}
.right-row-top-content li {
	color: var(--clr-fade-700);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	font-family: var(--ff-dm-sans);
	position: relative;
	padding-left: 20px;
	display: block;
	width: max-content;
	margin: 0 6px;
}
.right-row-top-content li::before {
	position: absolute;
	left: 0;
	top: calc(50% - 8px);
}
.right-row-top-content li:nth-child(1)::before {
	content: url('../assets/features/investement-before.svg');
}
.right-row-top-content li:nth-child(2)::before {
	content: url('../assets/features/expences-before.svg');
}
.right-row-top-content li:nth-child(3)::before {
	content: url('../assets/features/savings-before.svg');
}
/* ==== right chart top end=== */

/* ==== right chart bottom start=== */

.right-row-bottom {
	text-align: center;
	padding: 29px;
}
.right-row-bottom figure {
	width: fit-content;
	margin: 0 auto;
	position: relative;
	box-shadow: 10px 9px 250px 0 rgba(4, 115, 255, 0.25);
}
.right-row-bottom-content h3 {
	margin-top: 16px;
}
.right-row-bottom-content p {
	margin-top: 16px;
}
/* ==== right chart bottom end=== */

/* ==== How-it-works Section === */

.how-it-works .section-content{
	max-width: 616px;
	margin: 0 auto;
	width: 100%;
}
.daily-use-wrapper h3{
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-900);
	letter-spacing: var(--ls-400);
	text-align: center;
}
.daily-use-wrapper p{
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-light);
	line-height: var(--lh-150);
	text-align: center;
	color: var(--clr-neutral-900);
}
.daily-use-wrapper .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.daily-use-wrapper .col-4{
	display: flex;
	/* flex: 1; */
}
.daily-use-wrapper .left,
.daily-use-wrapper .mid,
.daily-use-wrapper .right{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
	background-color: var(--clr-neutral-150);
	margin: 16px;
	border-radius: 20px;
}

.daily-use-wrapper .row .col-4:nth-child(2n -1) h3{
	margin-top: 40px;
}
.daily-use-wrapper .row .col-4:nth-child(2n-1) p{
	margin-top: 32px;
}
.signup-wrapper, .buddget-wrapper, .mid-wrapper{
	padding: 20px;
	border-radius: 20px;
	background-color: var(--clr-neutral-100);
}
.input-box{
	display: flex;
	align-items: center;
	background: var(--clr-neutral-200);
	padding: 12px;
	border-radius: 20px;
	margin: 12px 0;
}
.input-box figure{
	margin-right: 8px;
}
.input-box input{
	font-family: var(--ff-dm-sans);
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-size: var(--fs-400);
}
.input-box input::placeholder{
	color: var(--clr-fade-600);
	font-family: var(--ff-dm-sans);
}
.daily-use-wrapper .right .input-box{
	padding: 24px 12px;
}
.signup-btn{
	width: 100%;
	padding: 10px;
	background: var(--clr-primary-300);
	color: var(--clr-neutral-900);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	border: none;
	outline: none;
	border-radius: 20px;
	margin-top: 18px;
	font-size: var(--fs-550);
	cursor: pointer;
}

/* == daily-use-row mid start ==*/

.mid-wrapper{
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.mid-wrapper-inner{
	max-width: 355px;
	width: 100%;
	margin: 0 auto;
}
.mid-wrapper-inner div:nth-child(n+2){
	margin: 0 auto;
}
.mid-wrapper .users{
	display: flex;
	justify-content: space-between;
}

.mid-wrapper .lines{
	width: 85%;
}
.mid-wrapper-inner .mid-logo{
	width: max-content;
}
.mid-wrapper h3{
	margin-top: 24px;
}
.left-wrapper, .right-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* == daily-use-row mid end ==*/




/* daily use row start end*/

















@media screen and (max-width: 1200px) {
	.col-xl-1 {
		width: calc(var(--one-col) * 1);
	}
	.col-xl-2 {
		width: calc(var(--one-col) * 2);
	}
	.col-xl-3 {
		width: calc(var(--one-col) * 3);
	}
	.col-xl-4 {
		width: calc(var(--one-col) * 4);
	}
	.col-xl-5 {
		width: calc(var(--one-col) * 5);
	}
	.col-xl-6 {
		width: calc(var(--one-col) * 6);
	}
	.col-xl-7 {
		width: calc(var(--one-col) * 7);
	}
	.col-xl-8 {
		width: calc(var(--one-col) * 8);
	}
	.col-xl-9 {
		width: calc(var(--one-col) * 9);
	}
	.col-xl-10 {
		width: calc(var(--one-col) * 10);
	}
	.col-xl-11 {
		width: calc(var(--one-col) * 11);
	}
	.col-xl-12 {
		width: calc(var(--one-col) * 12);
	}
	.feature-wrapper-row {
		flex-direction: column;
		align-items: center;
	}
	.right-row > div{
		flex-grow: 1;
	}
}
@media screen and (max-width: 991px) {
	.savings-wrapper-inner > div {
		max-width: 320px;
	}
	.col-lg-1 {
		width: calc(var(--one-col) * 1);
	}
	.col-lg-2 {
		width: calc(var(--one-col) * 2);
	}
	.col-lg-3 {
		width: calc(var(--one-col) * 3);
	}
	.col-lg-4 {
		width: calc(var(--one-col) * 4);
	}
	.col-lg-5 {
		width: calc(var(--one-col) * 5);
	}
	.col-lg-6 {
		width: calc(var(--one-col) * 6);
	}
	.col-lg-7 {
		width: calc(var(--one-col) * 7);
	}
	.col-lg-8 {
		width: calc(var(--one-col) * 8);
	}
	.col-lg-9 {
		width: calc(var(--one-col) * 9);
	}
	.col-lg-10 {
		width: calc(var(--one-col) * 10);
	}
	.col-lg-11 {
		width: calc(var(--one-col) * 11);
	}
	.col-lg-12 {
		width: calc(var(--one-col) * 12);
	}
}
@media screen and (max-width: 767px) {
	.col-md-1 {
		width: calc(var(--one-col) * 1);
	}
	.col-md-2 {
		width: calc(var(--one-col) * 2);
	}
	.col-md-3 {
		width: calc(var(--one-col) * 3);
	}
	.col-md-4 {
		width: calc(var(--one-col) * 4);
	}
	.col-md-5 {
		width: calc(var(--one-col) * 5);
	}
	.col-md-6 {
		width: calc(var(--one-col) * 6);
	}
	.col-md-7 {
		width: calc(var(--one-col) * 7);
	}
	.col-md-8 {
		width: calc(var(--one-col) * 8);
	}
	.col-md-9 {
		width: calc(var(--one-col) * 9);
	}
	.col-md-10 {
		width: calc(var(--one-col) * 10);
	}
	.col-md-11 {
		width: calc(var(--one-col) * 11);
	}
	.col-md-12 {
		width: calc(var(--one-col) * 12);
	}
}
@media screen and (max-width: 576px) {
	.col-sm-1 {
		width: calc(var(--one-col) * 1);
	}
	.col-sm-2 {
		width: calc(var(--one-col) * 2);
	}
	.col-sm-3 {
		width: calc(var(--one-col) * 3);
	}
	.col-sm-4 {
		width: calc(var(--one-col) * 4);
	}
	.col-sm-5 {
		width: calc(var(--one-col) * 5);
	}
	.col-sm-6 {
		width: calc(var(--one-col) * 6);
	}
	.col-sm-7 {
		width: calc(var(--one-col) * 7);
	}
	.col-sm-8 {
		width: calc(var(--one-col) * 8);
	}
	.col-sm-9 {
		width: calc(var(--one-col) * 9);
	}
	.col-sm-10 {
		width: calc(var(--one-col) * 10);
	}
	.col-sm-11 {
		width: calc(var(--one-col) * 11);
	}
	.col-sm-12 {
		width: calc(var(--one-col) * 12);
	}
}
