@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* font-family: "DM Sans", sans-serif; */
@font-face {
	font-family: 'stolzl';
	src: url('../assets/fonts/stolzl/stolzl_regular.otf');
}
:root {
	--white: #ffffff;
	--black: #000000;
	--sky-blue: #6dddff;
	--royal-blue: #002fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'stolzl';
}
section {
	padding: 100px 0;
}
ul,
ol,
li {
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}
button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
figure {
	overflow: hidden;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.col {
	padding: 0 15px;
}
.container {
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* ========= Navbar ========= */

.navbar {
	padding: 20px 0;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.nav-collapsed {
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.nav-items {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 15px 28px;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-actions {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.nav-logo {
	max-width: 70px;
	width: 100%;
}
.nav-list {
	margin-right: 32px;
	flex-grow: 1;
}
.nav-list:last-child {
	margin-right: 0;
}
.nav-links {
	font-family: 'stolzl';
	color: var(--black);
	transition: all 0.3s ease-in-out;
	padding: 10px 12px;
	border-radius: 50px;
}
.nav-links:hover {
	background-color: var(--royal-blue);
	color: var(--white);
}

.nav-actions li {
	margin-right: 20px;
}

.nav-actions-svg path {
	transition: fill 0.3s ease-in-out;
}
.nav-actions-svg:hover path {
	fill: var(--royal-blue);
}
.btn {
	padding: 10px 18px;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.3s ease-in;
}
.btn-primary {
	background: var(--sky-blue);
	color: var(--black);
}
.btn-primary:hover {
	background: var(--royal-blue);
	color: var(--white);
}

.nav-toggle {
	display: none;
	cursor: pointer;
}
.nav-toggle svg {
	width: 40px;
	height: 40px;
	fill: var(--royal-blue);
}
.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-right .btn {
	margin-right: 8px;
}
.toggle-icon {
	width: 100%;
	height: 40px;
}
.line {
	fill: var(--royal-blue);
	transition: 0.35s ease-in-out;
	transform-origin: center;
}
.nav-toggle.active .line1 {
	transform: translateY(6px) rotate(45deg);
}
.nav-toggle.active .line2 {
	transform: translateX(-100%);
}
.nav-toggle.active .line3 {
	transform: translateY(-22px) rotate(-45deg);
}
/* ============= Navbar End ============= */

/* ============= Banner Start ============= */

.banner {
	min-height: 90vh;
	padding: 100px 0;
	background: url('../assets/banner/banner-image.png'),
		linear-gradient(to top left, rgba(130, 17, 255, 0.5), rgb(0, 47, 255, 0.5));
	background-repeat: no-repeat;
	background-position: right top;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner .container {
	display: flex;
	align-items: center;
}
.banner-content {
	max-width: 700px;
	width: 100%;
	color: var(--white);
}
h1 {
	font-size: 50px;
	letter-spacing: -1.5px;
	margin-bottom: 50px;
}
.banner-content p {
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	max-width: 550px;
	width: 100%;
}
.banner-btn {
	display: flex;
	align-items: center;
	margin-top: 80px;
}
.banner-btn .btn-primary {
	margin-right: 50px;
}

.btn-secondary {
	color: var(--white);
	border: 1px solid var(--white);
}

.btn-secondary:hover {
	background: var(--white);
	color: var(--black);
}
/* ============= Banner End ============= */

@media screen and (max-width: 1110px) {
	.nav-toggle {
		display: block;
	}
	.nav-collapsed {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		flex-direction: column-reverse;
		z-index: 99;
		background: rgba(255, 255, 255, 1);
	}
	.nav-list {
		margin-right: 0;
		margin-bottom: 16px;
	}
	.nav-actions {
		margin-left: auto;
		padding: 8px;
	}
	.nav-actions li:last-child {
		margin-right: 0;
	}
	.nav-items {
		flex-direction: column;
		border-radius: 10px;
		width: 100%;
		border-radius: 0;
		border: none;
	}
	.nav-actions-svg {
		width: 20px;
	}
	.nav-collapsed.show {
		display: flex;
	}
	.banner {
		background-position: center top;
		backdrop-filter: blur(20px);
		color: var(--black);
	}
}
