
/* ===========================
	CLIENT SWIPER
=========================== */

.clients-swiper {
	width: 100%;
	overflow: hidden;
}
.clients-wrapper {
	width: 100%;
	display: flex;
	transition-timing-function: linear !important;
}
.client-slide {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}
.clients-img img {
	height: 40px;
	width: auto;
}

h2 {

}
