/* ===== Service Section === */

.section-content {
	max-width: 827px;
	margin: 0 auto;
}
.section-content p {
	max-width: 80%;
	margin: 0 auto;
}

.service-card-wrapper {
	margin-top: 80px;
}
.service-card-wrapper .row {
	align-items: stretch;
	justify-content: center;
}
.service-card-wrapper .row > div {
	display: flex;
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-neutral-250);
	margin: 16px 8px;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
	box-shadow: 0 4px 4px 0 var(--clr-fade-250);
}
.service-card figure {
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
}
.service-content {
	margin-top: 32px;
	text-align: center;
}
.service-content h3 {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-550);
	font-weight: var(--fw-regular);
	letter-spacing: var(--ls-400);
	color: var(--clr-neutral-900);
}
.service-content p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	color: var(--clr-fade-600);
	line-height: 1.2;
	margin-top: 20px;
}

/* ====== why choose us section ===== */

.why-choose-us h3 {
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	font-weight: var(--fw-regular);
	letter-spacing: var(--ls-400);
	color: var(--clr-neutral-900);
}
.why-choose-us p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	color: var(--clr-fade-600);
}
.buddget-planner-left,
.buddget-planner-right {
	margin: 32px;
}
.buddget-planner-left figure {
	margin: 0 auto;
	width: fit-content;
	height: 100%;
}
.buddget-planner-right {
	min-height: calc(100% - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	gap: 150px;
}
.buddget-planner-right > div {
	padding-left: 170px;
	position: relative;
}
.buddget-planner-right > div::before {
	content: '';
	position: absolute;
	left: 0;
	top: calc(50% - 70px);
	margin-left: 16px;
	border-radius: 44px;
	padding: 70px;
}
.buddget-planner-right > .top::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/laptop-mobile.svg) center 50px
		no-repeat;
}
.buddget-planner-right > .mid::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/object-subtract.svg) center 50px
		no-repeat;
}
.buddget-planner-right > .bottom::before {
	background: var(--clr-primary-350) url(../assets/why-choose-us/money-bill-wheat.svg) center 50px
		no-repeat;
}
.section-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
}
/* ======== workflow start ======== */
.workflow {
	background: var(--clr-primary-550);
}

.workflow-content {
	max-width: 827px;
	margin: 0 auto;
	color: var(--clr-neutral-100);
}
.workflow-content .section-content {
	width: 100%;
}
.workflow-content .sec-sub-heading {
	background: transparent;
	border-color: var(--clr-neutral-100);
	margin-bottom: 0;
}
.workflow-content h2 {
	text-align: left;
	margin-top: 30px;
}
.workflow-content h3 {
	color: var(--clr-neutral-100);
}
.workflow-content p {
	max-width: 100%;
	margin-left: 0;
	font-size: var(550);
	font-family: var(--ff-dm-sans);
	line-height: var(--lh-150);
	margin-top: 30px;
}
.workflow-content div:nth-child(n + 2) {
	margin-top: 32px;
	max-width: 85%;
}
/* =========== workflow-cards start =========== */
.workflow-steps {
	/* height: 100%; */
	margin-top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.steps-cards {
	background: rgba(255, 255, 255, 0.12); /* 80% light translated */
	backdrop-filter: blur(18px) saturate(180%);
	-webkit-backdrop-filter: blur(18px) saturate(180%);

	/* Dispersion + Depth + Refraction simulation */
	box-shadow: 0 4px 42px var(--clr-fade-200), /* Depth */ inset 0 0 0.8px rgba(255, 255, 255, 0.5),
		/* Refraction */ inset 0 0 20px rgba(255, 255, 255, 0.15); /* Dispersion (inner lighting) */

	border-radius: 20px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 1% 16%;
	max-width: 827px;
	width: 100%;
	margin: 0 auto;
}
.step {
	margin-left: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-left: 16px;
	position: relative;
}

.step h3 {
	font-size: var(--fs-550);
	font-family: var(--ff-stolzl);
	color: var(--clr-neutral-100);
	font-weight: var(--fw-regular);
}
.step p {
	font-family: var(--ff-dm-sans);
	font-weight: var(--fw-regular);
	color: var(--clr-neutral-100);
	font-size: var(--fs-500);
	margin-top: 16px;
}
.steps-cards .step::before {
	content: '';
	position: absolute;
	top: -15%;
	right: 100%;
	width: 30px;
	height: 30px;
	padding: 28px;
	border-radius: 44px;
}
.steps-cards div:nth-child(1)::before {
	background: url(../assets/workflow/signup.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(2)::before {
	background: url(../assets/workflow/album.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(3)::before {
	background: url(../assets/workflow/analyze.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(4)::before {
	background: url(../assets/workflow/transact.svg) var(--clr-primary-460) center no-repeat;
}
.steps-cards div:nth-child(5)::before {
	background: url(../assets/workflow/optimize.svg) var(--clr-primary-460) center no-repeat;
}
/* ======== workflow end ======== */

/* ======== about-us start ======== */
.about-us .section-content {
	max-width: 100%;
	margin-bottom: 24px;
}
.about-us .sec-sub-heading {
	margin: 0;
}
.live-chat {
	background: var(--clr-neutral-280);
	padding: 20px;
	border-radius: 30px;
	max-width: 424px;
	width: 100%;
}
.live-chat-content span {
	display: block;
	font-family: var(--ff-dm-sans);
	font-weight: var(--fw-regular);
}
.live-chat-content span:first-child {
	font-size: var(--fs-550);
	margin-bottom: 24px;
}
.live-chat-content span:last-child {
	font-size: var(--fs-500);
	margin-bottom: 24px;
	color: var(--clr-fade-800);
}
.live-chat-btn {
	display: flex;
	justify-content: space-between;
}


.about-feature-swiper {
	background: red;
	max-width: 305px;
	width: 100%;
}

.feature-swiper-content span {
	display: block;
	color: var(--clr-fade-blue-740);
	width: fit-content;
	margin: 0 auto;
}

.about-feature {
	width: 100%;
	overflow: hidden;
}

.about-feature .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #444;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======== about-us end ======== */

