/* ===========================
	CLIENT SWIPER
=========================== */
#client-top {
  transform: rotate(6deg);
}

#client-bottom {
  position: absolute;
  transform: rotate(-6deg);
  top: -5px;
}

.clients {
  padding: 12px 0;
  width: 100%;
  overflow: hidden;
  background: var(--clr-primary-200);
}
.clients-swiper {
  width: 100%;
  overflow: hidden;
}

.clients-wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
}

.client-slide {
  width: auto;
  padding: 0 12px;
  flex-shrink: 0;
}

.clients-img img {
  height: 30px;
  width: auto;
}

.client-band-wrapper {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  width: 120vw; /* wider for angled look */
  z-index: 4;
  pointer-events: none; /* optional */
}

@media (max-width: 575px) {
  .clients {
    padding: 8px 0;
  }
  .clients-img img {
    height: 20px;
  }
  #client-top {
    transform: rotate(10deg);
  }

  #client-bottom {
    transform: rotate(-10deg);
  }
  .client-band-wrapper{
    bottom: -50px;
  }
}
