.b {
	border: 1px solid black;
}
.c {
	background-color: red;
}

/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-neutral-100: #ffffff;
	--clr-primary-300: #6dddff;
	--clr-primary-400: #4cc7ff;
	--clr-primary-500: #002fff;
	--clr-primary-600: #2da94f;
	--clr-neutral-900: #000000;

	--clr-green-300: #b7ffcb; /* light green */
	--clr-green-900: #005016; /* deep green */

	--clr-red-500: #ff0303; /* strong red */
	--clr-red-300: #ffb4aa; /* soft faded red */
	--clr-red-200: #ffbcbd; /* soft pinkish red */
	--clr-blue-300: #708afe; /* soft blue */

	--clr-yellow-300: #fade8b; /* pastel yellow */

	--clr-fade-200: rgba(0, 0, 0, 0.2);
	--clr-fade-600: rgba(0, 0, 0, 0.6);

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE (px) */
	--fs-200: 12px;
	--fs-300: 14.4px;
	--fs-400: 16px;
	--fs-500: 18px;
	--fs-550: 20px; /* h3 */
	--fs-600: 24px;
	--fs-650: 30px;
	--fs-700: 32px;
	--fs-800: 45px; /* h2 */
	--fs-900: 56px; /* h1 */

	/* LETTER SPACING */
	--ls-500: -1.5px; /* h1 */
	--ls-400: -1.4px; /* h2 */

	/* GRID SYSTEM */
	--one-col: calc(100% / 12);
}

/* === GRID CLASSES === */
.col-1 {
	width: calc(var(--one-col) * 1);
}
.col-2 {
	width: calc(var(--one-col) * 2);
}
.col-3 {
	width: calc(var(--one-col) * 3);
}
.col-4 {
	width: calc(var(--one-col) * 4);
}
.col-5 {
	width: calc(var(--one-col) * 5);
}
.col-6 {
	width: calc(var(--one-col) * 6);
}
.col-7 {
	width: calc(var(--one-col) * 7);
}
.col-8 {
	width: calc(var(--one-col) * 8);
}
.col-9 {
	width: calc(var(--one-col) * 9);
}
.col-10 {
	width: calc(var(--one-col) * 10);
}
.col-11 {
	width: calc(var(--one-col) * 11);
}
.col-12 {
	width: calc(var(--one-col) * 12);
}

/* ===========================
	CLIENT SWIPER
=========================== */

section.clients {
	padding: 24px 0;
}
.clients-swiper {
	width: 100%;
	overflow: hidden;
}

.clients-wrapper {
	width: 100%;
	display: flex;
	transition-timing-function: linear !important;
}

.client-slide {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.clients-img img {
	height: 40px;
	width: auto;
}

/* ==== SECTION CONTENT ====== */

.sec-sub-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-500);
	font-weight: var(--fw-regular);
	margin: 0 auto;
	width: max-content;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid var(--clr-fade-200);
	margin-bottom: 48px;
}

.sec-heading {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-800);
	letter-spacing: var(--ls-400);
	text-align: center;
	margin-bottom: 48px;
}

.sec-heading span {
	color: var(--clr-primary-500);
}

.sec-description {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

/* ===============
	Features
 =============== */

h3 {
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-size: var(--fs-550);
	font-weight: var(--fw-medium);
}
.feature-description {
	font-size: var(--fs-500);
	font-family: var(--ff-dm-sans);
	color: var(--clr-neutral-900);
	font-weight: var(--fw-regular);
	opacity: 0.6;
	text-align: center;
}

.left-row .top {
	display: flex;
	justify-content: space-between;
}
.left-row .top,
.left-row .mid,
.left-row .bottom,
.mid-main-wrapper,
.savings-wrapper {
	padding: 18px;
	border-radius: 22px;
	border: 1px solid var(--clr-fade-200);
	margin: 8px;
}
.left-row .mid h3,
.left-row .bottom h3 {
	margin-top: 32px;
	text-align: center;
}

.left-row .bottom figure {
	background-color: var(--clr-primary-500);
	padding: 19px;
	border-radius: 50%;
	width: max-content;
	margin: 0 auto;
}
.left-row .bottom .feature-description {
	margin-top: 16px;
}
.inner-wrapper-top figure {
	width: max-content;
	border: 1px solid var(--clr-fade-200);
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}

.inner-wrapper-top h3 {
	text-align: center;
	position: relative;
	width: max-content;
	margin: 16px auto;
	padding-left: 20px;
}
.inner-wrapper-top h3::before {
	content: url('../assets/features/money-symbol.png');
	position: absolute;
	left: 0;
	padding-top: 4px;
}
.inner-wrapper-top h3::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: -35px;
	width: 136px;
	height: 1px;
	background: var(--clr-fade-200);
}

.inner-wrapper-top .feature-description span {
	display: block;
}
.inner-wrapper-top .feature-description {
	line-height: 1.8;
}
.inner-wrapper-mid {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.inner-wrapper-mid span {
	display: block;
	font-family: var(--ff-dm-sans);
	padding: 6px 18px;
}
.inner-wrapper-mid-left span {
	font-size: var(--fs-500);
}
.inner-wrapper-mid-right .feature-description {
	font-size: var(--fs-400);
}

.inner-wrapper-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	padding: 16px 24px;
	margin-top: 32px;
}

.inner-wrapper-bottom-left figure {
	width: max-content;
	background-color: var(--clr-primary-600);
	border-radius: 50%;
	padding: 4px;
}
.inner-wrapper-bottom-bottom span {
	display: block;
	text-align: left;
	padding: 4px 0;
}
.inner-wrapper-bottom-right figure {
	width: max-content;
}
.inner-wrapper {
	padding: 15px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 20px;
}
.mid-bottom-wrapper {
	text-align: center;
	padding: 30px 12px;
}
.mid-bottom-wrapper .feature-description {
	margin-top: 16px;
}
.savings-wrapper-content {
	padding: 16px;
}
.savings-wrapper-content > span {
	display: block;
	margin-top: 16px;
	font-size: var(--fs-650);
	display: flex;
	align-items: center;
	width: max-content;
}
.savings-wrapper-content > span figure {
	width: max-content;
	margin-right: 12px;
}
.savings-wrapper-inner {
	display: flex;
	flex-wrap: wrap;
}
.savings-wrapper-inner > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border: 1px solid var(--clr-fade-200);
	border-radius: 22px;
	font-family: var(--ff-dm-sans);
	width: 40%;
	margin: 8px;
}
.savings-wrapper-inner h4 {
	color: var(--clr-fade-600);
	font-weight: var(--fw-regular);
	position: relative;
	padding-left: 25px;

}
.savings-wrapper-inner div h4::before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.savings-wrapper-inner .savings h4::before{
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending h4::before{
	background-color: var(--clr-red-300);
}
.savings-wrapper-inner .investment h4::before{
background-color: var(--clr-yellow-300);
}
.savings-wrapper-inner .bills h4::before{
	background-color: var(--clr-blue-300);
}


.savings-wrapper-inner > div span:nth-child(3) {
	padding: 5px;
	border-radius: 20px;
}
.savings-wrapper-inner .savings span:nth-child(3), .savings-wrapper-inner .bills span:nth-child(3) {
	color: var(--clr-green-900);
	background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending span:nth-child(3), .savings-wrapper-inner .investment span:nth-child(3) {
	color: var(--clr-red-500);
	background-color: var(--clr-red-200);
}
