/* ==== SECTION CONTENT ====== */

.sec-heading {
  font-family: var(--ff-stolzl);
  font-size: var(--fs-500);
  color: var(--clr-primary-100);
  letter-spacing: var(--letter-spacing-200);
  text-align: center;
  margin: 48px 0;
}
.sec-heading span {
  color: var(--clr-primary-200);
}
.sec-description {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  color: var(--clr-fade-600);
}
.sec-sub-heading {
  font-family: var(--ff-stolzl);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-100);

  width: max-content;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 50px;

  /* Glass Base */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(22px) saturate(140%) contrast(95%);
  -webkit-backdrop-filter: blur(22px) saturate(140%) contrast(95%);

  /* Border */
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* Soft Glow + Depth */
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25),
    0 12px 36px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.sec-sub-heading::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.06) 10%,
    transparent 95%
  );
}
.section-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
h3 {
  font-family: var(--ff-dm-sans);
  color: var(--clr-primary-100);
  font-size: var(--fs-350);
  font-weight: var(--fw-medium);
}

/* .features {
  position: relative;
}
.features::after {
  content: "";
  position: absolute;
  background: radial-gradient(
    ellipse at center center,
    rgba(185, 251, 106, 0.3),
    transparent 60%
  );
  width: 85%;
  height: 35%;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
} */

/* ===============
Features
=============== */
.features .grid {
  z-index: -10;
}
.feattures span {
  display: block;
}
.feature-description {
  font-size: var(--fs-300);
  font-family: var(--ff-dm-sans);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-regular);
  opacity: 0.6;
  text-align: center;
}
.feature-wrapper-row {
  margin-top: 70px;
  justify-content: center;
  display: flex;
  align-items: stretch;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left span {
  font-family: var(--ff-dm-sans);
}
.top-left span:nth-child(1) {
  font-size: var(--fs-300);
}
.top-left span:nth-child(2) {
  font-size: var(--fs-350);
}
.top-right .btn {
  width: max-content;
}
.left-row {
  display: flex;
  flex-wrap: wrap;
}
.left-row .top,
.left-row .mid,
.left-row .bottom,
.left-row .mid-main-wrapper,
.savings-wrapper,
.right-row-top,
.right-row-bottom {
  padding: 18px;
  border-radius: 22px;
  border: 1px solid var(--clr-fade-200);
  margin: 12px;
}
.left-row .mid figure {
  margin: 0 auto;
}
.left-row .mid h3,
.left-row .bottom h3 {
  margin-top: 32px;
  text-align: center;
}

.left-row .bottom figure {
  background-color: var(--clr-primary-650);
  padding: 15px 18px;
  border-radius: 50%;
  margin: 0 auto;
}
.left-row .bottom .feature-description {
  margin-top: 16px;
}
.inner-wrapper-top figure {
  width: max-content;
  border: 1px solid var(--clr-fade-200);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.inner-wrapper-top h3 {
  text-align: center;
  position: relative;
  width: max-content;
  margin: 16px auto;
  padding-left: 20px;
}
.inner-wrapper-top h3::before {
  content: url("../assets/features/money-symbol.svg");
  position: absolute;
  left: 0;
  padding-top: 4px;
}
.inner-wrapper-top h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -35px;
  width: 136px;
  height: 1px;
  background: var(--clr-fade-200);
}

.inner-wrapper-top .feature-description span {
  display: block;
}
.inner-wrapper-top .feature-description {
  line-height: 1.8;
}
.inner-wrapper-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.inner-wrapper-mid li {
  display: block;
  font-family: var(--ff-dm-sans);
}
.inner-wrapper-mid li:first-child {
  margin-bottom: 8px;
}
.inner-wrapper-mid-right li {
  text-align: right;
}
.inner-wrapper-mid-left li {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}
.inner-wrapper-mid-right .feature-description {
  font-size: var(--fs-250);
}

.inner-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--clr-fade-200);
  border-radius: 22px;
  padding: 16px 24px;
  margin-top: 32px;
}

.inner-wrapper-bottom-left figure {
  width: max-content;
  background-color: var(--clr-primary-650);
  border-radius: 50%;
  padding: 4px;
}
.inner-wrapper-bottom-mid {
  padding: 0 16px;
}
.inner-wrapper-bottom-mid span {
  display: block;
  text-align: left;
  padding: 4px 0;
}
.inner-wrapper-bottom-mid .feature-description {
  font-weight: var(--fs-250);
}
.inner-wrapper-bottom-right figure {
  width: max-content;
}
.inner-wrapper {
  padding: 15px;
  border: 1px solid var(--clr-fade-200);
  border-radius: 20px;
}
.mid-bottom-wrapper {
  text-align: center;
  padding: 30px 12px;
}
.mid-bottom-wrapper .feature-description {
  margin-top: 16px;
}

/* ==== savings bottom start ==== */

.savings-wrapper-content {
  padding: 16px;
}
.savings-wrapper-content > span {
  font-family: var(--ff-dm-sans);
  display: block;
  margin-top: 16px;
  font-size: var(--fs-450);
  display: flex;
  align-items: center;
  width: max-content;
}
.savings-wrapper-content > span figure {
  width: max-content;
  margin-right: 12px;
}
.savings-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
}
.savings-wrapper-inner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid var(--clr-fade-200);
  border-radius: 22px;
  font-family: var(--ff-dm-sans);
  flex: 1 1 267px;
  max-width: 320px;
  margin: 8px;
}
.savings-wrapper-inner h4 {
  color: var(--clr-fade-600);
  font-weight: var(--fw-regular);
  position: relative;
  padding-left: 25px;
}
.savings-wrapper-inner div h4::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.savings-wrapper-inner .savings h4::before {
  background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending h4::before {
  background-color: var(--clr-red-300);
}
.savings-wrapper-inner .investment h4::before {
  background-color: var(--clr-yellow-300);
}
.savings-wrapper-inner .bills h4::before {
  background-color: var(--clr-blue-300);
}

.savings-wrapper-inner > div span:nth-child(3) {
  padding: 5px;
  border-radius: 20px;
}
.savings-wrapper-inner .savings span:nth-child(3),
.savings-wrapper-inner .bills span:nth-child(3) {
  color: var(--clr-green-900);
  background-color: var(--clr-green-300);
}
.savings-wrapper-inner .spending span:nth-child(3),
.savings-wrapper-inner .investment span:nth-child(3) {
  color: var(--clr-red-500);
  background-color: var(--clr-red-200);
}

/* ==== savings bottom end==== */

/* ==== right chart top start=== */
.right-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.right-row > div {
  flex-grow: 1;
}
.right-row-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-row-top figure {
  padding: 16px 0;
}
.right-row-top-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
.right-row-top-content li {
  color: var(--clr-fade-700);
  font-size: var(--fs-250);
  font-weight: var(--fw-regular);
  font-family: var(--ff-dm-sans);
  position: relative;
  padding-left: 20px;
  display: block;
  width: max-content;
  margin: 0 6px;
}
.right-row-top-content li::before {
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
}
.right-row-top-content li:nth-child(1)::before {
  content: url("../assets/features/investement-before.svg");
}
.right-row-top-content li:nth-child(2)::before {
  content: url("../assets/features/expences-before.svg");
}
.right-row-top-content li:nth-child(3)::before {
  content: url("../assets/features/savings-before.svg");
}
/* ==== right chart top end=== */

/* ==== right chart bottom start=== */
.right-row-bottom-wrapper {
  padding: 16px 0;
}
.right-row-bottom {
  text-align: center;
  padding: 29px;
}
.right-row-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-row-bottom figure {
  min-width: 170px;
  margin: 16px auto;
  position: relative;
  box-shadow: 10px 9px 250px 0 rgba(4, 115, 255, 0.25);
}
.right-row-bottom-content h3 {
  margin-top: 16px;
}
.right-row-bottom-content p {
  margin-top: 16px;
}
/* ==== right chart bottom end=== */

/* ==== How-it-works Section === */
.how-it-works .row > div {
  padding: 0;
}
.how-it-works .glass {
  background: rgba(240, 237, 237, 0.2);
}
.how-it-works .grid {
  z-index: -52 !important;
}
.how-it-works .section-content {
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
}
.daily-use-wrapper h3 {
  font-size: var(--fs-350);
  font-family: var(--ff-stolzl);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-100);
  letter-spacing: var(--ls-base);
  text-align: center;
}
.daily-use-wrapper p {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  text-align: center;
  color: var(--clr-primary-100);
}
.daily-use-wrapper .row {
  justify-content: center;
  align-items: stretch;
}
.daily-use-wrapper .col-4 {
  display: flex;
}
.daily-use-wrapper .left,
.daily-use-wrapper .mid,
.daily-use-wrapper .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  margin: 16px;
  border-radius: 20px;
}
.daily-use-wrapper .mid {
  justify-content: space-between;
}
.daily-use-wrapper .row .col-4:nth-child(2n -1) h3 {
  margin-top: 40px;
}
.daily-use-wrapper .row .col-4:nth-child(2n-1) p {
  margin-top: 32px;
}
.signup-wrapper,
.buddget-wrapper,
.mid-wrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--clr-primary-800);
}
.input-box {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 8px 12px;
  border-radius: 20px;
  margin: 22px 0;
}
.input-box figure {
  margin-right: 8px;
}
.input-box figure svg {
  fill: var(--clr-primary-100);
  fill-opacity: 0.6;
}
.input-box input {
  font-family: var(--ff-dm-sans);
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--fs-300);
  color: var(--clr-primary-100);
}
.input-box:focus-within {
  border-color: rgba(185, 251, 106, 1);
  box-shadow: 0 0 0 3px rgba(185, 251, 106, 0.15);
}
.input-box:focus-within figure svg {
  fill: var(--clr-primary-200);
}
.input-box:focus-within input::placeholder {
  color: var(--clr-primary-200);
  opacity: 0.6;
}
.input-box input::placeholder {
  color: var(--clr-fade-600);
  font-family: var(--ff-dm-sans);
}

/* ===== Chrome / Safari Autofill Fix ===== */
.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
  caret-color: rgba(255, 255, 255, 1);

  /* Remove white background */
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}
.daily-use-wrapper .right .input-box {
  padding: 24px 12px;
}
.submit-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  padding: 10px 18px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

/* == daily-use-row mid start ==*/

.mid-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.mid-wrapper-inner {
  max-width: 355px;
  width: 100%;
  margin: 0 auto;
}
.mid-wrapper-inner div:nth-child(n + 2) {
  margin: 0 auto;
}
.mid-wrapper .users {
  display: flex;
  justify-content: space-between;
}

.mid-wrapper .lines figure {
  margin: 0 auto;
  width: 85%;
}
.mid-wrapper-inner .mid-logo {
  width: max-content;
}
.mid-wrapper h3 {
  margin-top: 24px;
}
.left-wrapper,
.right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



/* ===== Service Section === */

.section-content {
	max-width: 827px;
	margin: 0 auto;
}
.section-content p {
	max-width: 80%;
	margin: 0 auto;
}

.service-card-wrapper {
	margin-top: 80px;
}
.service-card-wrapper .row {
	align-items: stretch;
	justify-content: center;
}
.service-card-wrapper .row > div {
	display: flex;
  padding: 0;
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-neutral-250);
	margin: 16px 8px;
	padding: 20px 10px;
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
	box-shadow: 0 4px 4px 0 var(--clr-fade-250);
}
.service-card figure {
	border-radius: 20px;
	border: 1px solid var(--clr-fade-200);
}
.service-content {
	margin-top: 32px;
	text-align: center;
}
.service-content h3 {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-350);
	font-weight: var(--fw-regular);
	letter-spacing: var(--letter-spacing-300);
	color: var(--clr-primary-100);
}
.service-content p {
	font-family: var(--ff-dm-sans);
	font-size: var(--fs-300);
	font-weight: var(--fw-regular);
	color: var(--clr-fade-600);
	line-height: 1.2;
	margin-top: 20px;
}