
/* ===========================
    DESIGN TOKENS
=========================== */
:root {
	/* COLORS */
	--clr-primary-300: #6dddff; /* sky blue */
	--clr-primary-400: #4cc7ff;
	--clr-primary-500: #002fff; /* deep royal */
	--clr-neutral-100: #ffffff;
	--clr-neutral-900: #000000;

	/* FONT FAMILY */
	--ff-stolzl: 'stolzl', sans-serif;
	--ff-dm-sans: 'DM Sans', sans-serif;

	/* FONT WEIGHT */
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* FONT SIZE SCALE */
	--fs-200: 0.75rem;
	--fs-300: 0.9rem;
	--fs-400: 1rem; /* base body */
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 2rem;
	--fs-800: 3rem;
	--fs-900: 3.5rem; /* hero heading */

	--fs-200: 12px; /* 0.75rem  */
	--fs-300: 14.4px; /* 0.9rem   */
	--fs-400: 16px; /* 1rem     */
	--fs-500: 20px; /* 1.25rem  */
	--fs-600: 24px; /* 1.5rem   */
	--fs-700: 32px; /* 2rem     */
	--fs-800: 45px; /* 3rem   h2  */
	--fs-900: 56px; /* 3.5rem  h1 */

	--ls-500: -1.5px	/* h1 */
	--ls-400: -1.4px	/* h2 */

}

/* ===========================
	CLIENT SWIPER
=========================== */
section.clients{
	padding: 24px 0;
}
.clients-swiper {
	width: 100%;
	overflow: hidden;
	margin-top: 48px;
}
.clients-wrapper {
	width: 100%;
	display: flex;
	transition-timing-function: linear !important;
}
.client-slide {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}
.clients-img img {
	height: 40px;
	width: auto;
}

h2 {
	font-family: var(--ff-stolzl);
	font-size: var(--fs-800);
	text-align: center;
}
h2 span{
	color: var(--clr-primary-500);
}